/* Default styles */

/* Add your existing styles here */

/* Media query for small screens */
@media (max-width: 576px) {
  /* Adjust styles for small screens here */
  .carousel-item img {
    height: 200px; /* Adjust the height as needed */
  }

  /* Adjust card styles */
  .card {
    width: 100%; /* Make cards full width on small screens */
  }
}

/* Media query for medium screens */
@media (min-width: 577px) and (max-width: 768px) {
  /* Adjust styles for medium screens here */
  .carousel-item img {
    height: 300px; /* Adjust the height as needed */
  }
}

/* Media query for large screens */
@media (min-width: 769px) {
  /* Adjust styles for large screens here */
  .carousel-item img {
    height: 400px; /* Adjust the height as needed */
  }
}